@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.985 0.002 247.839);
  --foreground: oklch(0.084 0.012 255.886);
  --muted: oklch(0.938 0.015 260.729);
  --muted-foreground: oklch(0.379 0 180);
  --popover: oklch(1 0 180);
  --popover-foreground: oklch(0.084 0.012 255.886);
  --card: oklch(1 0 180);
  --card-foreground: oklch(0.084 0.012 255.886);
  --border: oklch(0.945 0.005 258.325);
  --input: oklch(0.945 0.005 258.325);
  --primary: oklch(0.605 0.217 257.215);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.875 0.004 247.864);
  --secondary-foreground: oklch(0.358 0.007 248.012);
  --accent: oklch(0.968 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.883);
  --destructive: oklch(0.616 0.238 12.273);
  --destructive-foreground: oklch(0.985 0 180);
  --ring: oklch(0.21 0.006 285.883);
  --chart-1: oklch(0.605 0.217 257.215);
  --chart-2: oklch(0.875 0.004 247.864);
  --chart-3: oklch(0.9 0.003 247.862);
  --chart-4: oklch(0.807 0.082 251.602);
  --chart-5: oklch(0.902 0.04 251.777);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.142 0.005 308.447);
  --foreground: oklch(0.985 0 180);
  --muted: oklch(0.274 0.005 286.033);
  --muted-foreground: oklch(0.712 0.013 286.068);
  --popover: oklch(0.191 0 180);
  --popover-foreground: oklch(0.985 0 180);
  --card: oklch(0.191 0 180);
  --card-foreground: oklch(0.985 0 180);
  --border: oklch(0.274 0.005 286.033);
  --input: oklch(0.274 0.005 286.033);
  --primary: oklch(0.605 0.217 257.215);
  --primary-foreground: oklch(0.922 0 168.69);
  --secondary: oklch(0.274 0.005 286.033);
  --secondary-foreground: oklch(0.985 0 180);
  --accent: oklch(0.274 0.005 286.033);
  --accent-foreground: oklch(0.985 0 180);
  --destructive: oklch(0.616 0.238 12.273);
  --destructive-foreground: oklch(0.985 0 180);
  --ring: oklch(0.871 0.005 286.285);
  --chart-1: oklch(0.53 0.193 262.051);
  --chart-2: oklch(0.248 0 180);
  --chart-3: oklch(0.273 0 180);
  --chart-4: oklch(0.417 0 180);
  --chart-5: oklch(0.489 0 153.435);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
